@charset "utf-8";
/* CSS Document */

.itembody{
	display:none;
}
.itemheader{
	border:1px solid #000;
}
.itemheader a{
	cursor:pointer;
}	
.item{
	margin:3px;	
}
#navigation .open{
		display:block;
}
#navigation .closed{
	display:none;
}
	
@media screen and (min-width: 1024px){	
}

@media screen and (max-width: 1024px) {	


	.item .contracted{
		background-image:url(images/plus.jpg);
		background-position:right;
		background-repeat:no-repeat;
	}
	
	.item .expanded{
		background-image:url(images/minus.jpg);
		background-position:right;
		background-repeat:no-repeat;
	}
}