@charset "utf-8";
/* CSS Document */

	
@media screen and (min-width: 1024px){	
	.itembody{		
		padding-top:5px;
		display:none;
	}
	.itemheader{
		float:left;
		width:100px;
		border-top:#000 solid 1px;
		border-left:#000 solid 1px;
		border-bottom:#000 solid 1px;
	}
	.itembody{
		position:absolute;
	}
	.item:nth-last-child(2) > .itemheader
	{
		border-right:#000 solid 1px;		
	}
	.item:last-child {
		border-left:#ff0000 solid 1px;
		border-bottom:#000 solid 1px;
		padding-top:1px;
	}
	.expanded{
/*		border-bottom:#fff solid 1px;*/
	}
	
	.currentTab
	{
		border-bottom:#fff solid 1px;
	}	
	.leftover{
		display:block;
		border-bottom:#000 solid 1px;
		
	}
	.openTab{
		display:block;
	}
	.closedTab{
		display:none;
	}
}

@media screen and (max-width: 1024px) {	
	.itembody{
		display:none;
	}
	.itemheader{
		border:1px solid #000;
	}
	.itemheader a{
		cursor:pointer;
	}	
	.item{
		margin:3px;	
	}
	#navigation .open{
			display:block;
	}
	#navigation .closed{
		display:none;
	}
	.item .contracted{
		background-image:url(images/plus.jpg);
		background-position:right;
		background-repeat:no-repeat;
	}
	
	.item .expanded{
		background-image:url(images/minus.jpg);
		background-position:right;
		background-repeat:no-repeat;
	}
}